label.logo{
    color: rgba(255, 255, 255, 0.788);
    font-size: 30px;
    line-height: 70px;
    padding: 0 40px;
    font-weight: bold;
}
.nav-bar{
    background-color: purple;
   /** height:130px;*/
    height:auto;
}
header::after{
    content: '';
    display:table;
    clear:both;
} 

.nav-menu {
    float:right;
}
.nav-menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav-menu ul li{
    display: inline-block;
    margin-left: 30px;
    padding-top: 1px;
}
.nav-menu ul li a{
    color: rgba(255, 255, 255, 0.788);
    text-decoration: none;
    text-transform:uppercase;
    font-size: 20px;
    padding: 4px 7px;
    border-radius: 3px;
}
.nav-menu ul li a.hover{
    color:pink;
}
a.active ,a:hover{
    background: pink;
    transition: .5s;

}
.nav-search{
    display: inline-block;
    box-shadow: #bbb;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float:left;
    line-height: 80px;
    margin-right:40px;
    cursor:pointer;
    
}
#check{
    display:none;
}


.login{  
    padding-top: 50px ;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom:40px ;
    margin-top: 20px;;
    overflow: hidden;  
    margin: auto;  
    border:rgb(223, 148, 223) 3px solid;
    background:rgb(201, 142, 201);  
    
}
h1{
    text-align: center;
    padding-top: 40px;
    font-family:'Times New Roman', Times, serif;
    color: purple;
}
label{
    color:rgb(250, 215, 239);
    font-size:medium;
}
#Uname{  
    width: 200px;  
    height: 20px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 200px;  
    height: 20px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;      
}  
#log{  
    width: 250px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(46, 4, 46);  
}  
h4{
    font-size:medium;
    color:white;
}

    
footer{
    background: purple;
    color: rgba(255, 255, 255, 0.788);
    display: flex;
    flex-direction: column;
    padding: 25px;
}
footer .top{
    display: flex;
    flex-direction: row;
}
.about_us{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: left;
    padding: 10px;
}
.contact_us, .events, .social{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 10px;
}
footer h4{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}
footer ul{
    margin-left: -20px;
}
footer li{
    cursor: pointer;
    margin-top: 10px;
}
footer p{
    padding-right: 20px;
}
.copyright{
    text-align: center;
}
.icons{
    margin-top: 30px;
}
.icons i{
    font-size: 30px;
    margin-right: 20px;
}
main{
    height: calc(100vh - 320px);
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 990px) {
    
    .login{  
        width: 280px;
        margin: 0 20px 0 10px;  
        padding: 30px;       
    }
    #Uname{
        width: 150px;  
        height: 30px; 
    }
    #Pass{
        width: 150px;  
        height: 30px;
    } 
    footer .top{
        flex-direction: column;
   }
   .about_us,.contact_us, .events, .social{
        width: 100%;
        margin-top: 30px;
   }
   
   .icons i{
        font-size: 50px;
   }
   
   .copyright{
        text-align: center;
        font-size: 36px;
   }
   
   .nav-bar {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
   }
   
   .nav-menu{
        flex-direction: column;
   
   }
   
   .nav-menu ul {
        display: flex;
        flex-direction: column;
        text-align: left;
   }
   
   .nav-menu li{
        margin-top: 20px;
        font-size: 24px;
   }
   
   header{
        height: auto;
   }
   
   .nav-search-bar input{
   width: 400px;
   height: 40px;
   font-size: 30px;
   margin-bottom: 30px;
   margin-top: 30px;
   }
   
   .nav-logo h4{
        font-size: 40px;
   
   }
  #small{
    height: 400px;
    width: 350px;
    float:left;
    padding:5px;
  }
   
   }   
  
